@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.black-ops-one-regular {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  