/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap');

:root{
    --footer-highlight-color:#939686;
}

* {
    margin: 0;
    padding: 0;
    color: black;
}

body {
    font-family: "Inclusive Sans", sans-serif;
}

a {
    text-decoration: none;
}

/* Header */

header {
    height: 82vh;
}

header>div {
    background-color: #f9f8f4;
    height: 64vh;
}

/* navbar */
nav {
    padding: 30px 0px;
    justify-content: space-evenly;
    width: 100vw;
    font-size: 0.7rem;
}


/* left navbar */
.left img {
    height: 10px;
}

.hover-underline{
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.6s ease;
}

.hover-underline:hover {
    cursor: pointer;
    border-bottom: 2px solid #E2DDCA;
}

/* middle navbar */
.middle {
    justify-content: center;
    margin-right: 10px;
}

.middle>ul {
    gap: 18px;
}

.middle>ul>li {
    list-style-type: none;
}

.right {
    font-weight: 700;
}


/* heading */
.heading-text {
    width: 44vw;
    font-size: 2rem;
    line-height: 40px;
    font-weight: 900;
    margin: 7vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-text>.flex {
    width: 100%;
    text-align: center;
}

.heading-image {
    /* border: 2px solid red; */
    justify-content: center;
}

.heading-image>img {
    width: 30.9vw;
}


/* Main */


/* first part of main */
main>div:nth-child(1) {
    border-bottom: 1px solid #f3f1e8;
    margin-top: 1.5vh;
    align-items: center;
    flex-direction: column;
    font-size: 0.9rem;
    padding-bottom: 100px;
    /* width: 100%; */
    font-weight: 600;
}

main>div:nth-child(1)>div:nth-child(1) {
    text-align: center;
    width: 24%;
    line-height: 24px;
    letter-spacing: 0.9px;
}


/* main 1.2 */
.email {
    margin-top: 20px;
    font-size: 0.8rem;
    width: 35%;
}

.email>* {
    /* background-color: red; */
    height: 44px;

}

.email input {
    border: 1px solid #f8cd5f;
    outline: none;
    margin-top: 6px;
    padding-left: 10px;
    width: 50%;
}

.email>a {
    background-color: #f8cd5f;
    align-items: center;
    margin-top: 6px;
    padding-left: 10px;
    justify-content: center;
    width: 51%;
    transition: all 0.5s;
}


.email>a:hover {
    background-color: #fcdd8e;
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.email input:focus {
    box-shadow: 0 1px 6px rgb(252, 221, 142);
}


/* main 1.3 */
main>div:nth-child(1)>div:nth-child(3) {
    margin-top: 40px;
    width: 45%;
    font-weight: 100;
    text-align: center;
    line-height: 27px;
}

main>div:nth-child(1)>div:nth-child(3)>span {
    font-weight: 600;
    font-style: italic;
}


/* second part of main */

main>div:nth-child(2)>div:nth-child(1) {
    border-right: 1px solid #E2DDCA;
}

/* main>div:nth-child(2)>div:nth-child(2) {} */



main>div:nth-child(2)>div:nth-child(1)>div {
    width: 49%;
}

main>div:nth-child(2)>div:nth-child(1)>div>h2 {
    margin-bottom: 40px;
}

main>div:nth-child(2)>div:nth-child(1)>div>div>div {
    margin-bottom: 20px;
    line-height: 27px;
}

main>div:nth-child(2) a {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FEF5DF), to(#FEF5DF));
    background-image: linear-gradient(to bottom, #FEF5DF 0%, #FEF5DF 100%);
    background-repeat: no-repeat;
    background-size: 100% 0;
    background-position: 0 111%;
    -webkit-transition: background-size .25s ease-in;
    transition: background-size .25s ease-in;
    padding: 2px 2px 0px 0;
    border-bottom: 2px solid #E2DDCA;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

main>div:nth-child(2) a:hover {
    background-size: 100% 88%;
    cursor: pointer;
    border-bottom: 2px solid #f8cd5f;
}



main>div:nth-child(2)>div:nth-child(1)>div {
    margin-top: 130px;
    margin-left: 200px;
}

main>div:nth-child(2)>div:nth-child(2)>div {
    margin-top: 110px;
    margin-left: 100px;
    padding: 5px;
    width: 55%;
}

main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(1){
    width: 90%;
}

main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(2){
    margin-top: 20px;
    width: 99%;
}

main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(1) {
    border-bottom: 2px solid #E2DDCA;
}

main>div:nth-child(2)>* {
    width: 50%;
}

main>div:nth-child(2)>div:nth-child(2) span,
main>div:nth-child(2)>div:nth-child(2) li {
    display: block;
    font-size: 0.87rem;
    margin-bottom: 15px;
    letter-spacing: 0.9px;
    line-height: 28px;
}


/* third part of the main */

li::before {
    content: '';
    background-image: url("/assets/tick.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* top: 10%; */
    width: 17px;
    height: 17px;
    /* background-color: #F8CD5F; */
    border-radius: 50%;
    position: absolute;
    right: 100%;
    margin-right: 10px;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
}

main>div:nth-child(3){
    height: 99vh;
    width: 100vw;
    background-color: #f9f8f4;
}

main>div:nth-child(3)>div{
    width: 50%;
}

main>div:nth-child(3)>div:nth-child(1){
    justify-content: right;
}

main>div:nth-child(3)>div:nth-child(1) ul{
    position: relative;
    margin-left: 25px;
}

main>div:nth-child(3)>div:nth-child(2){
    background-color: transparent;
}

main>div:nth-child(3)>div:nth-child(1)>div{
    justify-content: center;
    flex-direction: column;
    padding: 35px;
    width: 57%;
}

main>div:nth-child(3)>div:nth-child(1)>div>div:nth-child(1){
    font-size: 1.6rem;
    word-spacing: 5px;
    margin-bottom: 40px;
    font-weight: 600;
}

main>div:nth-child(3)>div:nth-child(1)>div>div:nth-child(2){
    font-family: serif;
}
main>div:nth-child(3)>div:nth-child(1)>div>div:nth-child(2) li{
    line-height: 23px;
    margin-bottom: 20px;
    align-items: center;
}

main>div:nth-child(3)>div:nth-child(2)>div{
    padding-top: 30px;
    position: relative;
    background-color: white;
    width: 54%;
    top: 20%;
    margin: auto;
}

main>div:nth-child(3)>div:nth-child(2)>div>div:nth-child(1){
    /* background-color: red; */
    position: relative;
    width: 70%;
    margin: auto;
    text-align: center;
    line-height: 26px;
}

main>div:nth-child(3)>div:nth-child(2)>div>div:nth-child(3){
    font-size: 0.8rem;
    width: 59%;
    margin: 40px auto;
    text-align: center;
    line-height: 21px;
}

.send-lesson-email {
    position: relative;
    width: 100%;
    margin: 19px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* #fef5df */



footer {
    background-color: black;
    height: 95vh;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.footer-section{
    justify-content: center;
    position: relative;
    gap: 20px;
    height: 56%;
    top: 12%;
    margin-bottom: 120px;
}

/* #939686 */

.footer-section > div{
    position: relative;
    transition: 0.6s all ease-in-out;
    padding: 0px 30px;
    padding-top: 40px;
    padding-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-section > div:hover{
    background-color: #151515;
    cursor: pointer;
    --footer-highlight-color:white;
}

footer *{
    color: white;
    font-size: 0.7rem;
}

.footer-section>div>div{
    color: var(--footer-highlight-color);
    position: relative;
    top: 8%;
}

.footer-section img{
    position: relative;
    width:auto;
    height: 100%;
}

.name{
    letter-spacing: 3px;
    font-size: 0.75rem;
}